.countdown {
    position : sticky;
    bottom : 10px;

    padding: 20px;
    margin: auto;
    margin-bottom: 0px;

    width : 200px;

    border-radius: 5px;

    text-align: center;

    background-color: rgb(18, 18, 18, 0.8);
}
.wide {
    width : 100%;
}
.title {
    display : block;
    margin : 4px;
}
.subtitle {
    display : block;
    margin : 6px;
}

.tooltip {
    visibility : visible;
}

.tooltip .tooltip-text {
    visibility : hidden;
    width : 160px;
    background-color: aliceblue;
    color : #121212;
    text-align : center;
    
    padding : 5px;
    border-radius: 4px;
    transform : translate(-50%, -40%);

    position : absolute;
    z-index : 9;
}

.tooltip:hover .tooltip-text{
    visibility : visible;
}

.verdict-ac-vivid {
    background-color : #18A488;
    background-color : rgb(24, 164, 136, 0.4);
}

.verdict-wa-vivid {
    background-color : #C93D45;
    background-color : rgb(201, 61, 69, 0.4);
}

.verdict-ac {
    background-color : rgb(24, 164, 136, 0.8);
    border : 2px solid #18A488;
}

.verdict-wa {
    background-color : rgb(201, 61, 69, 0.8);
    border : 2px solid #C93D45;
}

.verdict-neutral {
    background-color : transparent;
}

.solution {
    padding : 4px;
    padding-top : 8px;

    margin: 2px;

    text-align : center;
}

.solution-time {
    font-size : 1.1em;
}

.solution-points {
    font-size : 0.7em;
    padding : 1px;

    border-radius : 2px;
}

.scoreboard {
    padding:0px;
    margin:0px;
    margin-bottom:20px;

    width:100%;
}

h3 {
    font-size : 0.9em;
}