th {
    text-align: center !important;
}

.countdown {
    position : sticky;
    bottom : 10px;

    padding: 20px;
    margin: auto;
    margin-bottom: 0px;

    width : 240px;

    border-radius: 5px;

    text-align: center;

    background-color: rgb(18, 18, 18, 0.8);
}
.wide {
    width : 100%;
}
.title {
    display : block;
    margin : 4px;
}
.subtitle {
    display : block;
    margin : 6px;
}

.tooltip {
    visibility : visible;
}

.tooltip .tooltip-text {
    visibility : hidden;
    width : 160px;
    background-color: aliceblue;
    color : #121212;
    text-align : center;
    
    padding : 10px;
    border-radius: 4px;

    margin-left: -80px;
    margin-top : 50%;

    position : absolute;
    z-index : 1;

    /* transform: translate(-50%, -50%); */
}

.tooltip:hover .tooltip-text{
    visibility : visible;
}

.verdict-pending-vivid {
    background-color : rgb(54, 134, 236, 0.4);
}

.verdict-ac-first-vivid {
    /* background-color : rgb(24, 114, 106, 0.4); */
    background-color : rgb(24, 164, 136, 0.8);
    
    border : 3px solid rgb(24, 164, 136, 1.0);
}

.verdict-ac-vivid {
    background-color : rgb(24, 164, 136, 0.4);
}

.verdict-wa-vivid {
    background-color : rgb(201, 61, 69, 0.4);
}

.verdict-pending {
    background-color : rgb(54, 134, 236, 0.8);
    border : 2px solid #186488;
}

.verdict-ac-first {
    /* background-color : rgb(24, 114, 106, 0.8); */
    background-color : rgb(24, 164, 136, 0.8);
    
    border : 2px solid rgb(24, 164, 136, 1.0);
}

.verdict-ac {
    background-color : rgb(24, 164, 136, 0.8);
    border : 2px solid #18A488;
}

.verdict-wa {
    background-color : rgb(201, 61, 69, 0.8);
    border : 2px solid #C93D45;
}

.verdict-neutral {
    background-color : transparent;
}

.verdict-disqualified {
    background-color : rgb(100, 61, 69, 0.8);
}

.solution {
    padding : 4px;
    padding-top : 8px;

    margin: 2px;

    text-align : center;
}

.solution-time {
    font-size : 1.1em;
}

.solution-points {
    font-size : 0.7em;
    padding : 1px;

    border-radius : 2px;
}

.scoreboard {
    padding:0px;
    margin:0px;
    margin-bottom:20px;

    width:100%;
}

h3 {
    font-size : 0.9em;
}

.institute-logo {
    height : 40px;

    margin: 10px;

    margin-top: auto;
    margin-bottom: auto;
}

.institute-logo-box {
    height : 40px;
    width : 40px;

    margin: 10px;
}

.center-absolute {
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}

.center-block {
    margin: auto;
    display:block;
}

.button-list {
    width:100%;
    margin:2px auto;
    padding:4px;
}